@font-face {
  font-family: 'IranSans';
  src: url('../public/fonts/iransansbold.ttf');
  font-weight: 400;
  font-style: normal;
}




:root {
  --bg-top-nav:#F5F5F5;
  --background: #FCF8F1;
  --foreground: #171717;


  --text-gray: #797979;

  --green:#2D5F4D;
  --green-light:#389167;
  --yellow: #F7C35F;
  --gray:#797979;
  --white:#FFFFFF;
  --black:#000000;



  --coper: #c0937b;
  --brown: #4b2e1e;
  --cream: #705242;
  --dark-red: #8b3a3a;
  --white: #ffffff;
  --black: #000000;
  --dark-background: #0a0a0a;
  --light-red: #fde5db;
  --dark-green: #556b2f;
  --light-green: #e3f1c8;

  --btn:#408d63;
  --btn-hover:#118878;

  --buy-dark: #556b2f; 
  --buy-dark1: #6e8548; 
  --buy-light: #e3f1c8; 
  --sell-dark: #8b3a3a; 
  --sell-dark1: #9c4949; 
  --sell-light: #fde5db; 
  --bg_chart:#F6E8DD;


  --card-shadow:var(--foreground);
}



body {
  color: var(--foreground);
  background: var(--background);
  margin-top: 75px;

  margin: 0 auto;
  font-family: 'IranSans';
}

a{
  text-decoration: none;
}

